{% extends 'layout.html' %}

{% block body %}
  <h1>Register</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="" id="form_id">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.username, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.confirm, class_="form-control")}}
    </div>
    <div class="g-recaptcha" data-sitekey="6Ldnm5YUAAAAAJCB5ktHWwiE9NkLkl9uK71bJCMa" id="captcha"></div>
    <p><input type="submit" class="btn btn-primary" value="Submit" onclick="return foo();"></p>
  </form>
  <script>
  function foo(){
     var response = grecaptcha.getResponse();
     console.log(response);
     if(response != '0'){
           //captcha validated and got response code
           console.log("the captcha has been filled");
           return true;
     }else{
           //not validated or not clicked
           alert("Please fill the captcha!");
           return false;
     }
}
  </script>
{% endblock %}
